<!DOCTYPE html>
<html>
<head>
  <title>Pirates!</title>
</head>
<body>
  <h1>Welcome to the Nested Forms Lab!</h1>
  <h2>let's navigate to the '/new'</h2>
  <h3>Pirates!</h3>
  <p>Hey hey hey</p>
  <ul>
    <% @pirates.each do |pirate| %>
      <li>Name: <%= pirate.name %></li>
      <li>Weight: <%= pirate.weight %></li>
      <li>Height: <%= pirate.height %></li>
    <% end %>
  </ul>
</body>
</html>
